{% extends '::base.html.twig' %}


{% block title %}
Actorzzz vous souhaite la bienvenue. Actorzzzz : un beau site et bien plus encorezzz !
{% endblock %} 
   
{% block body %}

<h1>Accueil du site !</h1>    
	<p>
		Bienvenue sur le tout nouveau site de référencement pour les fanszzz d'actorszzz et actriszzz. 
	</p>
	<script type="text/javascript">

	var x=0;

	function rotate(num){
	fs=document.ff.slide;
	x=num%fs.length;
	if(x<0) x=fs.length-1;
	document.images.show.src=fs.options[x].value;
	fs.selectedIndex=x;}

	function auto() {
	if(document.ff.fa.value == "Stop"){
	rotate(++x);setTimeout("auto()", 5000);}}
	</script>
	
	
		<table WIDTH="100%">
			<tr>
				<td align="center">
					<table WIDTH="100%" HEIGHT=700>
						<tr>
							<td align="center">
								Les acteurs
							</td>
						</tr>
		
						<tr>
							<td align="center">
								<img src="{{ asset('images/actorzzz/bPitt.jpg') }}" name="show">
							</td>
						</tr>
	
						<tr>
							<td align="center" style="border:1px black solid;">
							<form class="centrer" name="ff">
								<select name="slide" onChange="rotate(this.selectedIndex);">
									<option value="{{ asset('images/actorzzz/bPitt.jpg') }}">brad pitt</option>
									<option value="{{ asset('images/actorzzz/cEastwood.jpg') }}">Clint Eastwood</option>
									<option value="{{ asset('images/actorzzz/fDamiens.jpg') }}">François Damiens</option>
									<option value="{{ asset('images/actorzzz/gJugnot.jpg') }}">Gérard Jugnot</option>
									<option value="{{ asset('images/actorzzz/jDepp.jpg') }}">Johnny Depp</option>
									<option value="{{ asset('images/actorzzz/jLi.jpg') }}">Jet Li</option>
									<option value="{{ asset('images/actorzzz/jpRouve.jpg') }}">Jean-Paul Rouve</option>
									<option value="{{ asset('images/actorzzz/lDicaprio.jpg') }}">Léonardo Dicaprio</option>
									<option value="{{ asset('images/actorzzz/mBlanc.jpg') }}">Michel Blanc</option>
									<option value="{{ asset('images/actorzzz/mDamon.jpg') }}">Matt Damon</option>
									<option value="{{ asset('images/actorzzz/mFreeman.jpg') }}">Morgan Freeman</option>
									<option value="{{ asset('images/actrizzz/cDiaz.jpg') }}">Cameron Diaz</option>
									<option value="{{ asset('images/actrizzz/rHampton.jpg') }}">Rebecca Hampton</option>
									<option value="{{ asset('images/actrizzz/cFrot.jpg') }}">Catherine Frot</option>
									<option value="{{ asset('images/actrizzz/dLavanant.jpg') }}">Dominique Lavanant</option>
									<option value="{{ asset('images/actrizzz/eMendes.jpg') }}">Eva Mendes</option>
									<option value="{{ asset('images/actrizzz/Gellar.jpg') }}">Sarah Michelle Gellar</option>
									<option value="{{ asset('images/actrizzz/jAlba.jpg') }}">Jessica Alba</option>
									<option value="{{ asset('images/actrizzz/jLHewitt.jpg') }}">Jennifer Love-Hewitt</option>
									<option value="{{ asset('images/actrizzz/mBellucci.jpg') }}">Monica Bellucci</option>
									<option value="{{ asset('images/actrizzz/nPortman.jpg') }}">Nathalie Portman</option>
									<option value="{{ asset('images/actrizzz/sDoherty.jpg') }}">Shannon Doherty</option>
								</select>
							</form>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
				<table WIDTH="100%">
					</tr>
						<td align="center">
							<input type="button" onclick="rotate(0);" value="ll&lt;&lt;" title="Jump to beginning" />
							<input type="button" onclick="rotate(x-1);" value="&lt;&lt;" title="Last Picture" />
							<input type="button" name="fa" onClick="this.value=((this.value=='Stop')?'Start':'Stop');auto();" value="Start" title="Autoplay" style="width:75px;" />
							<input type="button" onclick="rotate(x+1);" value="&gt;&gt;" title="Next Picture" />
							<input type="button" onclick="rotate(this.form.slide.length-1);" value="&gt;&gt;ll" title="Jump to end" />
						</td>
					<tr>
				</table>
				</td>
			</tr>
		</table>
	
{% endblock %}