{% extends '::base.html.twig' %}

{% block title %}
Nous contacter.
{% endblock %} 
   
{% block body %}
<a href="{{ path('actorzzz_homepage') }}">Homezzz</a>
<a href="{{ path('actorzzz_acteur') }}">Actorzzz</a>
<a href="{{ path('actorzzz_actrice') }}">Actrizzz</a>
<a href="{{ path('actorzzz_membre') }}">Memberzzz</a>


<h1>Contact !</h1>    
	<p>
		Voulez vous contacter les personnes suivantes :
		{{ form(form) }}
	</p>
{% endblock %}
